*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#0b1026,#25124d,#472d8c);
    background-size:400% 400%;
    animation:bgMove 12s ease infinite;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.menu{
    width:90%;
    max-width:500px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    border-radius:20px;
    padding:40px;
    text-align:center;
    box-shadow:0 0 35px rgba(0,0,0,.4);
}

h1{
    font-family:'Cinzel',serif;
    font-size:52px;
    color:#FFD700;
    text-shadow:0 0 15px gold;
    margin-bottom:10px;
}

.subtitle{
    color:white;
    margin-bottom:30px;
}

button{
    width:100%;
    margin:10px 0;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#7B2FF7;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.25s;
}

button:hover{
    background:#A855F7;
    transform:scale(1.05);
}

input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:12px;
    font-size:17px;
}

.player-list{
    margin:25px 0;
}

.player{
    background:rgba(255,255,255,.15);
    padding:15px;
    border-radius:12px;
    margin:10px 0;
    color:white;
    font-size:20px;
}
